<h4>Post details</h4>
<p>
  <%= @row['content']%><br />
  <br /> added at <%=  @row['created_date'] %> by <%=  @row['nickname'] %>
</p>
<h4>Comments:</h4>
<br>
<% @comments.each do |comment| %>
<p>
    <%= comment['content'] %>
    <br />
    <span style="font-size: 75%; color: #999"> added at <%= comment['created_date'] %> </span>
</p>
<hr />
<% end %>
<p>
<form action="/details/<%= @row['id'] %>" method="POST">
  <div class="form-group">
<label for="exampleFormControlTextarea1">Example textarea</label>
<textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Type post text here" style="width: 400px"></textarea>
</div>
<br>
<button type="submit" class="btn btn-primary">Add comment</button>
</form>
</p>
